<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="post">
        <input type="text" name="username" placeholder="Enter Email" required><br>
        <input type="password" name="password" placeholder="Enter Password" required><br>
        <input type="text" name="full_name" placeholder="Full Name" required><br>
        <input type="text" name="qualification" placeholder="Qualification"><br>
        <input type="date" name="dob"><br>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('auth.user_login') }}">Login Here</a></p>
</body>
</html>
